:root {
    --columns: 9;
    --rows: 40;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

.header,
.footer {
    padding: 10px 30px;
    color: aliceblue;
    background: #000;
    width: 100vw;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.header-title {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 40px 0;
}

.footer {
    display: flex;
    justify-content: end;
    font-size: 20px;
}

.bar-chart-container {
    display: flex;
    flex-direction: column;
}

.subtitle {
    font-family: 'Lucida Sans', sans-serif;
    text-align: center;
    margin: 20px 0 10px;
}

.scale-y-container {
    display: flex;
}

.scale-y-values {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 5px;
}

.scale-x-values {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    padding-left: 25px;
}

.scale-y-value {
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    text-align: center;
}

.bar-chart {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
    column-gap: 5px;
    width: 500px;
    height: 300px;
    border: 5px solid #525252;
    padding: 0px 5px;

    background-image: url('./assets/icons/line-horzontal.svg'), url('./assets/icons/line-vertical.svg'); 
    background-repeat: repeat, repeat;
    background-size: 1px 25%, 33.33% 1px;

    background-position: 0px 0px, 0px 0px;


}

.bar {
    grid-row-end: -1;
    background-color: black;
    border-radius: 5px 5px 0 0;
}

.results-table,
.data-table {

    border-collapse: collapse;
    margin: 0;
}

.table-cell,
.table-cell-value,
.table-cell-data {
    border: 2px solid #525252;
    padding: 5px 10px;
    font-family: Helvetica, sans-serif
}

.table-cell-data {
    padding: 5px 10px;
}

.table-cell-value {
    text-align: center;
}

th.table-cell {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.footer-link {
    color: aliceblue;
    text-decoration: none;
}